body{
        background-color: black;
}

*{
        font-family: 'Roboto';
        color: white;
        margin: 0px;
        padding: 0px;
}

.navbar{
        display: flex;
        justify-content: space-between;
}

.aboutme_content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 40px;
}

.aboutme_content--picture{
        display: flex;
        justify-content: center;
}

.aboutme_content--text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
}

.aboutme_content > p{
        text-align: center;
        max-width: 50%;
}

.projects_content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 40px;
}

.projects_content--text{
        display: flex;
        justify-content: center;
        margin-left: 40px;
}

.projects_content--picture{
        display: flex;
        justify-content: center;
}

.contact_content{
        display: flex;
        justify-content: space-between;
}



@media (max-width: 500px){
        .navbar{
                margin: 10px 10px 0px 10px;
        }

        .navbar > h2, a{
                font-size: 14px;
        }
        .navbar_name{
                display: none;
        }

        .aboutme_content, .projects_content{
                align-items: center;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
                max-height: 60vh;
                margin-top: 5px;
        }


        .aboutme_content--text{
                display: inline-flex;
                justify-content: start;
                align-items: center;
                text-align: center;
        }

        .projects_content--text{
                grid-row: 2;
                text-align: center;
                margin: 0px  10px  0  10px;
        }
        .projects_content--picture{
                grid-row: 1;
        }

        .contact_content{
                flex-direction: column;
                align-items: center;
        }

        footer > a, h2{
                font-size: 14px;
        }
}