body{
        background-color: black;
}

.header{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        margin: 0;
}


*{
        font-family: 'Roboto';
        color: white;
}

h3{
        margin: 0;
}
.navbar{
        margin: 10px 10px 0px 10px;
        text-align: right;
}

#About_me{
        grid-column-start: 6;
}

#logo{
        text-align: left;
        margin-right: 0;
}

.container{
        display: grid;
        grid-template-columns: 2;
        margin-top: 140px;
}

.ifybild{
        display: flex;
        justify-content: flex-start;
}

.text{
        display: flex;
        flex-direction: column;
        justify-content: center;
}

#intro{
        grid-column-start: 2;
        padding-left: 400px;
}

#tech{
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 450px;
        align-items: start;
        padding-left: 130px;
}

#tech-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        padding-left: 140px;
}

img{
        align-items: center;
}

.projekte{
        margin-bottom: 50px;
}