body{
        background-color: black;
}

.header{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        margin: 0;
}


*{
        font-family: 'Roboto';
        color: white;
}

h3{
        margin: 0;
}
.navbar{
        margin: 10px 10px 0px 10px;
        text-align: right;
}

#About_me{
        grid-column-start: 6;
}

#logo{
        text-align: left;
        margin-right: 0;
}

.container{
        display: grid;
        grid-template-columns: 2;
        margin-top: 140px;
}

.ifybild{
        display: flex;
        justify-content: flex-start;
}

.text{
        display: flex;
        flex-direction: column;
        justify-content: center;
}

#intro{
        grid-column-start: 2;
        padding-left: 400px;
}

#tech{
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 450px;
        align-items: start;
        padding-left: 130px;
}

#tech-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        padding-left: 140px;
}

img{
        align-items: center;
}

.projekte{
        margin-bottom: 50px;
}

#ifeanyi{
        border-radius: 40%; 
        margin-left: 60px;
}

@media (max-width: 950px){
        .container{
                grid-template-columns: 1fr;
                grid-template-rows: 2fr;
                align-items: center;
        }

        #tech{
                grid-area: 2 / 1;
                padding-left: 0;
        }

        #intro{
                grid-area: 2 / 1;
                align-items: center;
                padding-left: 0;
        }

        #tech-desc{
                padding-left: 0;
                align-items: center;
        }

        #ifeanyi{
                margin-left: 0px;
        }

        .ifybild{
                align-items: center;
        }

        *{
                text-align: center;
        }
}